* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  /* Adicionado para centralizar verticalmente */

  width: 100vw;
  height: 100vh;
}

/* Centralizar todos os conteudos */
.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

main {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  max-width: 1200px;
  /* Defina a largura máxima desejada */


}

.left {
  padding: 2rem;
}

.left h1 {
  font-size: 3rem;
}

.left-top {
  margin-bottom: 1rem;
  margin-top: 2rem;
}



.left-top p {
  font-size: 1.2rem;
  margin: 1rem 0rem 2rem 0rem;

  width: 400px;
}


/* Informaçoes com icones  */
.info-products {
  margin-bottom: 3rem;
}

.info-products .products {
  display: flex;
  margin-bottom: 1rem
}

.info-products .products img {
  margin-right: 1rem;
}


/* Formulario */
form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.6rem;
}

form input {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.4rem;
  margin-bottom: 1.5rem;
}

form button {
  cursor: pointer;

  border-radius: 0.4rem;
  padding: 1rem;
  border: none;

  background-color: rgb(231, 91, 112);
  color: white;

  font-weight: bold;
}

/* Esconder Hidde */

.hidde { 
  display: none;
}


/* Modal poop */
.modal {
  /* Existente */
  position: absolute;
  max-width: 400px;
  padding: 2rem;
  background-color: white;
  border-radius: 2rem;
}

.modal h1 { 
  width: 250px;
  font-size: 3rem;

  margin-bottom: 1rem;
}

.modal img { 
  margin-bottom: 1.3rem;
  width: 50px;
}

.modal p { 
  margin-bottom: 2rem;
}

.modal button { 
  cursor: pointer;
  width: 100%;

  border-radius: 0.4rem;
  padding: 1rem;
  border: none;

  background-color: rgb(231, 91, 112);
  color: white;

  font-weight: bold;
}

.error-message {
  display: none;
  color: red; /* Estilo para a mensagem de erro */
  font-size: 0.8rem; /* Tamanho do texto da mensagem de erro */
  margin-top: 0.5rem; /* Espaçamento superior */
}