
body { 
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(119, 52, 243);
}

main { 
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
 
 
}

.card { 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.right-login { 
    background-color: rgb(94, 46, 182);
    padding: 30px 20px;
    width: 15%;
    border-radius: 5px;
    box-shadow: 0px 1px 20px rgb(91, 54, 160);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.right-login > h1 { 
    color: rgb(230, 220, 220);

}

button { 
    cursor: pointer;
    background-color: rgb(150, 118, 209);
    border: none;
    color: white;
    box-shadow: 1px 5px 10px rgb(119, 82, 185);
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
    padding: 5%;
    font-weight: bold;
}

button:active { 
    background-color: rgb(119, 82, 185);
    transition: 0.20s;
}

.card > input { 
    background-color: white;
    border: none;

}



input { 
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-size: 15px;
    outline: none;
    padding-left: 5px;
}

label { 
    color: rgb(182, 182, 182);
    font-size: 12px;
    

}

.drone-animate { 
    width: 100%;
}

div > p { 
    font-size: 30px;
    color: rgb(223, 219, 230);
    text-shadow: 2px 3px 10px rgb(204, 204, 204);

}




@media screen and (max-width: 524px){
    main { 
        display: flex;
        flex-direction: column;
    }

    div > p { 
        display: none;
    }

    .right-login { 
        width: 50%;
    }
}
    
@media screen and (max-width: 768px) { 
    
    main { 
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .right-login { 
        width: 50%;
    }
}

@media screen and (max-width: 1024px) { 
    .right-login { 
        width: 50%;
    }
    div > p { 
        font-size: 30px;
    }
}
